<br>
    <div class ="header">
        <div class="container">
        <h2 class="site-title" id="registerstudents">Registered Students</h2>
    </div>
    </div>
    <div class ="header">
    <div class="container">
        <table class="table table-striped">
            <thead class= "thead dark">
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col"> Semester Id</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let stud of student'>
                <td>{{stud.studentId}}</td>
                <td>{{stud.studentName}}</td>
                <td>{{stud.semester_id}}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
