<br>
    <div class ="header">
        <div class="container">
        <h2 class="site-title" id="registerstudents">Registered Students</h2>
    </div>
    </div>
    <div class ="header">
    <div class="container">
        <table class="table table-striped">
            <thead class= "thead dark">
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col"> Semester Id</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">201</th>
                <td>Kabila</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">202</th>
                <td>Sneha</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">203</th>
                <td>Sanjay</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">204</th>
                <td>Divyansh</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
