<br>
    <div class ="header">
        <div class="container">
        <h2 class="site-title" id="registercourse">View Grade Card</h2>
    </div>
    </div>
    <div class="container">
    <form>
        <div class="form-group">
          <label for="SemesterID">Semester ID</label>
          <input type="text" [(ngModel)] = "semesterId" name="semesterId"  class="form-control" id="SemesterID" placeholder="Enter Semester ID">
        </div>
        <button class="btn btn-dark" (click)="getGradeCard()" type="submit" value="Submit">Submit</button>
      </form>
    </div>

    <hr>
    <br>

    <div class ="header">
        <div class="container">
        <h2 class="site-title" id="listofcourse">Semester Grade Card</h2>
    </div>
    
    <div class="container">
        <table class="table table-striped">
            <thead class= "thead dark">
              <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Grade</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">101</th>
                <td>Java</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">102</th>
                <td>Python</td>
                <td>B</td>
              </tr>
              <tr>
                <th scope="row">103</th>
                <td>Angular</td>
                <td>C</td>
              </tr>
            </tbody>
          </table>
    </div>