<br>
    <div class ="header">
        <div class="container">
        <h2 class="site-title" id="listofcourse">List of Available Courses</h2>
    </div>
    </div>
    <div class ="header">
    <div class="container">
        <table class="table table-striped">
            <thead class= "thead dark">
              <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Type</th>
                <th scope="col">Course Details</th>
                <th scope="col">Course Fee</th>
                <th scope="col">Semester Id</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">101</th>
                <td>Java</td>
                <td>Full time</td>
                <td>Programming</td>
                <td>5000</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">102</th>
                <td>Python</td>
                <td>Full time</td>
                <td>Programming</td>
                <td>3000</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">103</th>
                <td>Angular</td>
                <td>Full time</td>
                <td>Programming</td>
                <td>5000</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>



    
