<br>
<div class ="header">
    <div class="container">
    <h1 class="site-title" id="registercourse">Add Grade</h1>
</div>
</div>
                <div class="container">
                    <form>
                      <div class="form-group">
                        <label for="CourseId">Course ID</label>
                        <input type="text" name ="CourseId" [(ngModel)]="grade.courseId" class="form-control" id="CourseID" placeholder="Enter Course ID">
                      </div>
                     
                      <div class="form-group">
                        <label for="CourseName">Course Name</label>
                        <input type="text" name ="CourseName" [(ngModel)]="grade.courseName" class="form-control" id="CourseName" placeholder="Enter Course Name">
                      </div>
                      <div class="form-group">
                          <label for="StudentId">Student ID</label>
                          <input type="text" name ="StudentId" [(ngModel)]="grade.studentId" class="form-control" id="StudentID" placeholder="Enter Student ID">
                        </div>
                        <div class="form-group">
                          <label for="SemesterId">Semester ID</label>
                          <input type="text" name ="SemesterId" [(ngModel)]="grade.semesterId" class="form-control" id="SemesterID" placeholder="Enter Semester ID">
                        </div>
                        
                        <div class="form-group">
                            <label for="AddGrade">Add Grade</label>
                            <input type="text" name ="addGrade" [(ngModel)]="grade.grade" class="form-control" id="AddGrade" placeholder="Enter Grade">
                          </div>

                        <button class="btn btn-dark"  type="submit" value="Submit" (click)="addStudentGrade()">Submit</button>
                      </form>
                    </div>
				